<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let furniture of furnitures" [ngClass]="{'offer':furniture.offer}">
            <td><img [src]="furniture.image" [alt]="furniture.name"></td>
            <td>{{furniture.name}}</td>
            <td>{{furniture.type}}</td>
            <td>{{furniture.price | currency}}</td>
            <td>{{furniture.stock}}</td>
        </tr>
    </tbody>
</table>
