<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Agregar Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let furniture of furnitures" [ngClass]="{'offer':furniture.offer}">
            <td><img width="100px" class="img-thumbnail" [src]="furniture.image" [alt]="furniture.name"></td>
            <td>{{furniture.name}}</td>
            <td>{{furniture.type}}</td>
            <td>{{furniture.price | currency}}</td>
            <td *ngIf="furniture.stock <= 0">SIN STOCK</td>
            <td *ngIf="furniture.stock > 0">{{furniture.stock}}</td>
            <td>
                <app-input-integer [(quantity)]="furniture.quantity" [max]="furniture.stock" (maxReached)="isMaxReached($event)"></app-input-integer>
                Cant: {{furniture.quantity}}
            </td>
        </tr>
    </tbody>
</table>
